body {
    background-color: #F5F7FA;
    font-family: 'Raleway', sans-serif;
    width: 1920px;
}
.blue-section{
    background-color: #0052FF;
    width: 1920px;
    color: white;
}
.img-logo {
    width: 39px;
    height: 39px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    height: 134px;
    align-items: center;
    font-size: 20px;
    border-bottom: 1.5px solid white;
}
.ul-list {
    display: flex;
    list-style: none;
}
.list {
    margin-left: 30px;
    margin-right: 30px;
}
.logo-name {
    margin-left: 12px;
}
.logo {
    display: flex;
}
.button1 {
    width: 175px;
    height: 60px;
    background-color: yellow;
    font-size: 20px;
    border-radius: 5px;
}
.head {
    max-width: 1200px;
    margin: auto;
}
.p1 {
    margin-top: 200px;
    font-size: 16px;
    letter-spacing: 0,19;
    color: #FFCF16;
}
.h1 {
    width: 789px;
    height: 154px;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: 0,78;
}
.button-p2 {
    display: flex;
    align-items: center;
    padding-bottom: 300px;
}
.button2 {
    width: 387px;
    height: 70px;
    border-radius: 5px;
    background-color: yellow;
    font-size: 20px;
    letter-spacing: 0,24px;
}
.p2 {
    margin-left: 39px;
    width: 360px;
    height: 60px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0,22px;
}
.labs {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 180px;
    padding: 0 80px 0 40px;
    list-style-type: none;
    background-color: white;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    top: 880px;
}
.img-list-button {
    display: flex;
}
.image-side {
    margin-top: 230px;
    margin-left: 102px;
}
.h2 {
    width: 480px;
    height: 154px;
    font-size: 42px;
    letter-spacing: 0,5px;
}
.ulist2 {
    line-height: 36px;
    list-style-type: circle;
}
.list2 {
    width: 300px;
    height: 56px;
    font-size: 18px;
}
.button3 {
    width: 175px;
    height: 60px;
    background-color: yellow;
    border-radius: 5px;
    font-size: 18px;
}
.p3 {
    max-width: 1200px; margin: auto;
    height: 56px; font-size: 42px;
    margin-top: 151px;
    letter-spacing: 0,5px;
}
.sections {
    display: flex;
    justify-content: space-between;
    margin-left: 360px;
    width: 1700px;
    position: relative;
    top: 100px;
}
.first-sct {
    width: 300px;
    height: 370px;
    background-color: #fff;
    padding: 50px 46px 10px;
}
.p-sct {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0,22px;
    width: 289px;
    height: 213px;
}
.end {
    display: flex;
    align-items: center;
}
.img-oval {
    margin-left: 19px;
    width: 200px;
    font-size: 18px;
    letter-spacing: 0,22px;
    line-height: 25px;
}
.second-sct {
    width: 300px;
    height: 370px;
    background-color: #fff;
    padding: 50px 46px 10px;
}
.end2 {
    display: flex;
    align-items: center; 
}
.img-oval2 {
    margin-left: 19px;
    width: 200px;
    font-size: 18px;
    letter-spacing: 0,22px;
    line-height: 25px;
}
.third-sct {
    width: 300px;
    height: 370px;
    background-color: #fff;
    padding: 50px 46px 10px;
}
.end3 {
    display: flex;
    align-items: center;
}
.img-oval3 {
    margin-left: 19px;
    width: 200px;
    font-size: 18px;
    letter-spacing: 0,22px;
    line-height: 25px;
}
.fourth-sct {
    width: 300px;
    height: 370px;
    background-color: #fff;
    padding: 50px 46px 10px;
}
.end4 {
    display: flex;
    align-items: center;
}
.img-oval4 {
    margin-left: 19px;
    width: 200px;
    font-size: 18px;
    letter-spacing: 0,22px;
    line-height: 25px;
}
.grey-section {
    background-color: #EAEFF5;
}
.b {
    background-color: blue;
    height: 4px;
    min-width: 35px;
    width: 40px;
    margin-bottom: 15px;
    margin-left: 462px;
} .b-h3 {
    display: flex;
    align-items: center;
}
.h3 {
    font-size: 19px;
    margin-left: 20px;
    width: 246px;
    height: 26px;
}
.buttons {
    display: flex;
    padding-top: 132px;
}
.c {
    background-color: blue;
    height: 4px;
    min-width: 35px;
    width: 40px;
    margin-bottom: 15px;
}
.h4 {
    font-size: 19px;
    margin-left: 20px;
    width: 246px;
    height: 26px;
}
.c-h4 {
    display: flex;
    align-items: center;
}
.grey-img {
    display: flex;
    justify-content: space-between;
    margin-left: 360px;
    margin-top: 130px;
    padding-bottom: 150px;
}
.laptop {
    width: 740px;
    height: 740px;
   
}
.p12 {
    height: 84px;
    width: 625px;
    left: 0,22;
    font-size: 18px;
    line-height: 28px;
}
.p11 {
    height: 200px;
    width: 589px;
    font-size: 42px;
    line-height: 45px;
    letter-spacing: 0.5px;
    color: #020113;

}
.p13 {
    width: 625px;
    height: 56px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.216px
}
.button-grey-img {
    width: 175px;
    height: 60px;
    background-color: #ffcf26;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 0.26px;
}
.p14 {
    font-size: 42px;
    line-height: 45px;
    letter-spacing: 0.5px;
    width: 700px;
    height: 102px;
    margin-top: 0px;
    margin: auto;
    text-align: center;
    padding-top: 130px;
}
.screen {
    background-color: #FFFFFF;
}
.p15 {
    width: 500px;
    height: 84px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.2px;
    margin: auto;
    text-align: center;
}
.screen1 {
    margin-left: 360px;
}
.images1 {
    margin-top: 152px;
    margin-left: 405px;
}
.grey2 {
    background-color: #EAEFF5;
    display: flex;
}
.image1 {
    margin-left: 115px;
}
.images-p {
    margin-left: 360px;
    display: flex;
}
.ip {
    height: 108px;
    width: 175px;
    font-family: Arial Hebrew;
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0.22px;
    text-align: center;

}
.image2 {
    margin-left: 115px;
}
.images-p2 {
    margin-left: 360px;
    display: flex;
}
.ip2 {
    height: 108px;
    width: 175px;
    font-family: Arial Hebrew;
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0.22px;
    text-align: center;
}
.images2 {
    margin-left: 405px;
}
.main-p {
    margin-left: 90px;
    margin-top: 150px;
    height: 153px;
    width: 589px;
    font-family: Arial Hebrew;
    font-size: 42px;
    line-height: 45px;
    letter-spacing: 0.5px;
    text-align: left;
}
.second-p {
    height: 84px;
    width: 680px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-align: left;
    margin-left: 90px;
    margin-top: 23px;
}
.grey-button {
    height: 60px;
    width: 175px;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 0.21px;
    text-align: center;
    margin-left: 90px;
    background-color: #FFCF16;
    margin-top: 37px;
}
.blue-section-2 {
    background-color: blue; 
    padding: 1px;
}
.h22 {
    align-items: center;
    text-align: center;
    margin-top: 123px;
    margin-bottom: 37px;
    height: 84px;
    font-size: 42px;
    letter-spacing: 0.50px;

}
.images-h {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
} .boxes {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
}
.box {
    background-color: cornsilk;
    height: 184px;
    width: 278px;
}
.box1 {
    height: 78px;
    width: 211px;
    font-family: Arial Hebrew;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.21px;
    text-align: left;
    margin: 20px 37px 0px 30px;
    
}
img[alt="shape"]
{
    margin-left: 30px;
    margin-top: 2px;
}
.shape {
    margin-left: 8px;
    height: 32px;
    width: 81px;
    font-size: 13px;
    line-height: 32px;
    letter-spacing: 0.15px;
    text-align: left;
    
}
.white-section-2 {
    background-color: #f2f2f2;
    padding-top: 150px;
    position: relative;
    overflow: hidden;
}
.white-box {
    background-color: #FFFFFF;
    height: 187px;
    width: 207px;
    margin: auto;

}
.shape1 {
    height: 25px;
    width: 71px;
    font-size: 32px;
    margin-left: 12px;
    margin-top: 0px;
}
img[alt="shape1"]
{
    margin-left: 29px;
    margin-top: 38px;
}
.shape-p {
    height: 50px;
    width: 132px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.21px;
    text-align: center;
    margin-left: 38px;
}
.h5 {
    text-align: center;
    height: 153px;
    font-size: 42px;
    line-height: 45px;
    letter-spacing: 0.50px;
    width: 589px;
    margin: auto;
    padding-top: 45px;

}
.get-free-call {
    background-color:  #FFCF26;
    height: 70px;
    width: 386px;
    border-radius: 5px;
    margin-top: 44px;
    margin-left: 768px;
    margin-bottom: 150px;
    font-size: 20px;
    text-align: center;

}
.img1
{
    position: absolute;
    top: -92px;
    left: 1px;
}
.img2
{
    position: absolute;
    top: 175px;
    left: 356px;
}
.img3
{
    position: absolute;
    top: -75px;
    right: 300px;
}
.img4
{
    position: absolute;
    top: 283px;
    right: 0px;
    
}
.img5
{
    position: absolute;
    top: 512px;
    left: 67px;
}
.img6
{
    position: absolute;
    right: 115px;
    bottom: -128px;
}
.footer {
    background-color: black;

}
.footer-logo {
    font-size: 18px;
    letter-spacing: 0.21px;
    text-align: left;
    color: #fff;
    margin-left: 360px;
    padding-top: 67px;
  
}
.img[alt="foot"]
{
    background-color: white;
    
}
.product {
    margin-left: 473px;
}
.company {
    margin-left: 241px;
}
.footer-paragraph 
{
    color: #FFFFFF;
    display: flex;
    margin-left: 360px;
    margin-bottom: 70px;

}
.foot1 {
    height: 84px;
    width: 380px;
    margin-top: 19px;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.216px;
    text-align: left;
    opacity: 0.45;
}
.foot2 {
    height: 170px;
    width: 206px;
    margin-left: 132px;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.216px;
    text-align: left;
    opacity: 0.45;

}
.foot3 {
    height: 136px;
    width: 158px;
    margin-left: 103px;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.216px;
    text-align: left;
    opacity: 0.45;


} 
.upper-footer {
    border: 1px solid white;
}
