body,
h1,
h2,
h3,
h4,
p,
.heading  ul,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; 
}

/* Remove list styles on ul, ol elements with a class attribute */
.heading  ul,
ol[class] {
  list-style: none;
}

.heading  ul,
ol[class] {
  padding: 0;
}

body {
  background-color: #f5f7fa;
  font-family: "Raleway", sans-serif;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.blue-section {
  background-color: #0052ff;
  color: white;
}

.header {
  border-bottom: 1.5px solid #979797;
}

.img-logo {
  width: 39px;
  height: 39px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 36px 0;
  align-items: center;
  font-size: 20px;
}
.ul-list {
  display: flex;
  column-gap: 45px;
}
.logo-name {
  margin-left: 12px;
}

.logo {
  display: flex;
  align-items: center;
}

.button {
  background-color: transparent;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ffffff;
  padding: 16px 30px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
}

.yellow-button {
  border: none;
  background-color: #ffcf26;
  color: #000000;
}

.main-block {
  padding-top: 195px;
  padding-bottom: 315px;
}

.main-block-subtitle {
  margin-bottom: 16px;
  font-size: 16px;
  color: #ffcf16;
}

.main-block-content {
  width: 70%;
}

.main-block-title {
  font-size: 64px;
  margin-bottom: 64px;
}

.main-block-footer {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.main-block-button {
  flex: 1;
}
.main-block-description {
  font-size: 18px;
  flex: 1;
}

.clients {
  position: relative;
}

ul.labs {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 65px 85px;
  background-color: white;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
  bottom: -315px;
  transform: translateY(50%);
}

.white-section-content {
  display: flex;
  align-items: center;
}

.white-section-image {
  flex: 1;
  text-align: right;
  overflow: hidden;
}

.white-section-features {
  flex: 1;
  transform: translateX(100px);
}

.white-section-title {
  font-size: 42px;
  margin-bottom: 115px;
  max-width: 600px;
}

ul.white-section-features-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 18px;
  margin-bottom: 40px;
}

.white-section-footer {
  padding-top: 151px;
}

.white-section-footer-title {
  color: #020113;
  font-size: 42px;
}
.boxs {
  display: flex;
  column-gap: 30px;
  transform: translateY(20%);

}

.box {
  background-color: violet;
  padding: 47px;
  flex: 1;
  background: rgba(255, 255, 255, 1);
    
}

.foot-end {
  display: flex;
  align-items: center;
}

.coder {
  margin-left: 10px;
  line-height: 24px;
}

.box-title {
  margin-top: 36px;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 28px;
}

.sections {
  display: flex;
  justify-content: space-between;
  position: relative;
  transform: translateY(20%);
  top: 431px;
}

.grey-section {
  padding-top: 132px;
  background-color: #eaeff5;
}
.grey-section-title {
  display: flex;
}

.subtitle{
  text-align: center;
}

.grey-section-subtitle::before {
  content: "";
  height: 4px;
  width: 33px;
  display: inline-block;
  margin-right: 20px;
  background: rgba(0, 82, 255, 1);
}

.grey-section-subtitle-1 {
  flex: 1;
  color: #020113;
  font-size: 19px;
}

.grey-section-subtitle-2 {
  flex: 2;
  color: #020113;
  font-size: 19px;
}

.grey-section-footer {
  padding-top: 130px;
  background-color: #eaeff5;
  padding-bottom: 150px;
}

.grey-section-footer-content {
  display: flex;
  column-gap: 6%;
}

.grey-section-footer-title {
  width: 44%;
  align-self: center;
}

.grey-section-footer-image {
  width: 50%;
}

.grey-section-footer-image img {
  width: 100%;
}

.grey-section-footer-subtitle {
  font-size: 42px;
  color: #020113;
  margin-bottom: 30px;
  line-height: 44px;
}

.grey-section-footer-subtitle-1 {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 28px;
}

.grey-section-footer-subtitle-2 {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 28px;
}

.screen-section {
  background: rgba(255, 255, 255, 1);
}

.screen {
  padding-top: 139px;
}

.screen-title {
  text-align: center;
  font-size: 42px;
  color: #020113;
  max-width: 775px;
  margin: auto;
  margin-bottom: 24px;
}

.screen-subtitle {
  text-align: center;
  font-size: 19px;
  max-width: 625px;
  margin: auto;
  margin-bottom: 45px;
}
.screen-capture {
  max-width: 1200px;
  margin: auto;
}

.grey-block {
  display: flex;
  padding-top: 156px;
  padding-bottom: 150px;
  column-gap: 90px;
}

.grey-block-title {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}

.grey-block-subtitle {
  flex: 2;
}

.grey-block-container {
  background: #F2F2F2;
}

.grey-block-subtitle-image {
  color: #020113;
  font-size: 42px;
  font-weight: bold;
  max-width: 600px;
  margin-bottom: 24px;
  line-height: 44px;
}

.grey-block-subtitle-2 {
  color: #020113;
  font-size: 18px;
  margin-bottom: 15px;
  max-width: 600px;
  line-height: 24px;
}

.grey-block-image {
  justify-self: center;
}

.shorthand {
  font-size: 19px;
  text-align: center;
  font-family: arial hebrew;
}

.blue-section-2 {
  background: #0557FF;
}

.main-blue-section {
  padding-top: 132px;
  padding-bottom: 149px;
}

.blue-section-title {
  text-align: center;
  font-size: 42px;
  color: #FFF;
  margin-bottom: 37px;
  letter-spacing: 0.5px;
}

.blue-section-subtitle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
}

.image-title {
  background: rgba(255, 255, 255, 1);
  padding: 20px 37px 29px 30px;

}

.image-subtitle {
  max-width: 180px;
  margin-bottom: 20px;
  line-height: 24px;
}

.image-title span {
  margin-left: 12px;
}
.white-section-main {
  background: #F2F2F2;
}

.white-section-container {
  padding-bottom: 150px;
  padding-top: 150px;
  text-align: center;
}

.container-box {
  background: rgba(255, 255, 255, 1);
  max-width: 200px;
  margin: auto;
  padding: 30px;
  margin-bottom: 44px;
  box-sizing: border-box;
}

.container-box-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.span-273 {
  margin-left: 12px;
}

.container-box-subtitle {
  font-size: 42px;
  max-width: 600px;
  margin: auto;
  margin-bottom: 44px;
}

.white-image-1 {
  position: absolute;
  bottom: -150px;
  transform: translateY(-591px);
}

.footer {
  background: rgba(17, 17, 17, 1);
}

.black-section {
  padding-bottom: 74px;
  padding-top: 74px;
  
}

.black-section-title {
  color: white;
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.heading-title {
  width: 40%;
  font-size: 18px;
  color: rgba(255, 255, 255, .5);
}

.heading {
  line-height: 28px;
}

.heading ul li:first-child {
  margin-bottom: 23px;
  color: #ffffff;
}

.heading ul {
  font-size: 18px;
  color: rgba(255, 255, 255, .5);
}

.logo-png {
  background-color: #FFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 19px;
}

.footer {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.lower-black-section {
  display: flex;
  justify-content: space-between;
  padding-top: 53px;
  padding-bottom: 53px;
}

.icons {
  font-size:25px;
  color: #FFF;
  display: flex;
  column-gap: 26px;
}

.info {
  color: #FFF;
  opacity: .5;
  font-size: 18px;
  display: flex;
  column-gap: 26px;
}

.lower-footer {
  background: rgba(17, 17, 17, 1);
}

.grey-block-image {
  background: rgb(226, 228, 233);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
}

.circle {
  transform: translateY(70%);
}